# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env
.env.*

# Static / Media
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db