.table{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.table thead{
    background:#3E2723;
    color:#fff;
}

.badge{
    padding:8px 12px;
    border-radius:20px;
}