
<div class="d-flex align-items-center justify-content-between w-100">

    <!-- Left Side -->
    <div class="d-flex align-items-center">

        <!-- Mobile Menu -->
        <button
            class="menu-toggle me-3"
            id="menuToggle"
            type="button">

            <i class="bi bi-list"></i>

        </button>

        <!-- Search -->
        <div class="input-group">

            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>

            <input
                type="text"
                id="navbarSearch"
                class="form-control"
                placeholder="Search...">

        </div>

    </div>


    <!-- Right Side -->

<div>
    <a href="/login/"
       onclick="logout(); return false;"
       class="btn btn-warning text-dark">

        <i class="bi bi-box-arrow-right me-1"></i>
        <span>Logout</span>

    </a>
</div>

</div>
