{% extends "base.html" %}
{% load static %}

{% block title %}My Orders{% endblock %}

{% block content %}

<section class="py-5">

    <div class="container">

        <div class="text-center mb-5">

            <h2 class="section-title">
                My Orders
            </h2>

            <p class="section-subtitle">
                Track all your cake orders
            </p>

        </div>

        <div class="table-responsive">

            <table class="table table-bordered align-middle">

                <thead class="table-dark">

                    <tr>

                        <th>Order No</th>

                        <th>Date</th>

                        <th>Total</th>

                        <th>Payment</th>

                        <th>Status</th>

                        <th>Action</th>

                    </tr>

                </thead>

                <tbody id="ordersTable">

                </tbody>

            </table>

        </div>

    </div>

</section>

<script src="{% static 'js/my_orders.js' %}"></script>

{% endblock %}